<!-- relative-->
<!-- <div class="box1">Смещённый блок</div>
<div class="box2">Обычный блок</div> -->

<!--absolute-->
<!-- <div class="relative-parent">
  <div class="absolute-child">Смещённый блок</div>
</div> -->

<!--fixed-->
<!-- <div class="fixed-box">Фиксированный элемент</div>
<div class="content">Много контента для прокрутки...</div> -->

<!--sticky-->
<!-- <div class="content">
  <div class="sticky-box">Прилипший элемент</div>
  <p>Много текста для прокрутки...</p>
</div> -->



<!--sticky-2-->
<!-- <div class="container">
	<div class="content">
	  <div class="sticky-element">
		Я прилипну к верху контейнера на 20px
	  </div>
	  <p>Много контента для прокрутки...</p>
	</div>
  </div> -->
