<!-- <div style="position: relative; width: 300px; height: 300px; background-color: lightblue;">
	<div style="position: absolute; top: 20px; left: 20px; width: 100px; height: 100px; background-color: lightgreen;">
	  Абсолютно позиционированный элемент
	</div>
	<p>Этот текст игнорирует элемент с position: absolute и не взаимодействует с ним.</p>
  </div> -->

  <!-- <div style="height: 800px; background-color: lightgray;">
	<div style="position: fixed; top: 0; left: 0; width: 100%; background-color: lightcoral;">
	  Фиксированный элемент (шапка)
	</div>
	<p>Этот текст будет прокручиваться под фиксированным элементом, который остается на месте при прокрутке страницы.</p>
  </div> -->
  <!-- <div style="overflow: hidden; width: 200px; height: 100px; background-color: lightblue;">
	<p>Этот текст внутри блока с overflow: hidden. Если текст превысит размеры блока, он будет обрезанffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff.</p>
  </div> -->
  <!-- <div style="overflow: auto; width: 200px; height: 100px; background-color: lightblue;">
	<div style="float: left; width: 100px; height: 100px; background-color: lightgreen;">
	  Плавающий элемент
	</div>
	<p>Этот текст находится рядом с плавающим элементом, и контейнер корректно его учитывает благодаря созданию BFC.</p>
  </div> -->
  <!-- <div style="display: flow-root; background-color: lightblue;">
	<div style="float: left; width: 100px; height: 100px; background-color: lightgreen;">
	  Плавающий элемент
	</div>
	<p>Этот текст будет корректно размещен внутри блока с flow-root.</p>
  </div> -->



  <!-- <p>
	Это <span style="color: red;">строчный</span> контекст форматирования.
  </p> -->


  