<nav class="nav">
  <ul>
    <a routerLink="/position" routerLinkActive="active">Position</a>
    <a routerLink="/context" routerLinkActive="active">Context</a>
    <a routerLink="/specificity" routerLinkActive="active">Specificity</a>
    <a routerLink="/media" routerLinkActive="active">Media</a>
    <a routerLink="/gradient" routerLinkActive="active">Gradient</a>
    <a routerLink="/data-attribute" routerLinkActive="active">Data-attribute</a>
    <a routerLink="/meta-charset" routerLinkActive="active">Meta Charset</a>
  </ul>
</nav>
<router-outlet></router-outlet>